html, body {
    margin: 0;
    padding: 0;

}





.box1 {
    position: absolute;
    width: 300px;
    height: 100px;
    left: 30%;
    border: 1px ;
    border-radius: 0px 0px 5px 5px;
    background-color: lightgray;
    
    
}

.box2 {
    position: absolute;
    width: 680px;
    height: 100px;
    left: 48%;
    border-radius: 0px 0px 5px 5px;
    background-color: lightgray;
    
}

.box2 ul,li{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-right: 60px;
    margin-left: 40px;
    font-family:sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.box2 li:hover{
    color: darkblue;
    cursor: pointer;
}

.box3 {
    position: absolute;
    width: 1020px;
    height: 100px;
    left:30%;
    bottom:0px;
    border: 1px;
    border-radius: 5px 5px 0px 0px;
    background-color: lightgray;
}

.box3 p{
    padding: 20px;
    margin-right: 60px;
    margin-left: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    
}
.box3 a {
    text-decoration: none; 
    color: white;
}

a:hover{
    color:darkblue;

}
   




.wrapper {   
    width: 70%;
    height: 500px;
    position: relative;
    top: 200px;
    right: 100px;
    
        
}

.red_prvi{
    position: absolute;
    display:flex; 
    justify-content: flex-start;
    height: 250px;
    width: 100%;
    transition: transform 0.5s ease;
}

.red_prvi img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-right: 10px;
   
}

.red_drugi{
    position: absolute;
    display:flex;
    justify-content:flex-start;
    height: 250px;;
    top: 250px;
    width: 80%;
    transition: transform 0.5s ease;
    
   
    
}

.red_drugi img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    
    

}
.gumbovi {
    position: absolute;
    top: 50%;
    left: 61.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    
    
       
}

.lijevo {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
    background-image: url(arrow-blue-left.png);
    background-repeat: no-repeat;
    background-position: center;

}
.lijevo:hover{
    background-color: aliceblue;

}

.lijevo:active{
    background-image: url('arrow-gray-left.png');
    border-color: gray;
    
}

.desno {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 5px;
    border-width: 2px;
    cursor: pointer;
    background-image: url(arrow-blue-right.png);
    background-repeat: no-repeat;
    background-position: center;
    
    
   
}
.desno:hover{
    background-color: aliceblue;
}

.desno:active{
    background-image: url('arrow-gray-right.png');
}



.tekst {
    
    position: absolute;
    left: 66%;
    top: 17%;
    width: 330px;
    font-family:sans-serif;
    line-height: 26px;
    font-size: 18px;
   

}

.tekst h2{
    color: darkblue;
    font-size: 32px;
    line-height: 38px;
    text-shadow: 2px 2px 11px #afafff;
}

@keyframes zoom-in {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
  }
    
    

    
    
